
.title{
	color: #8080ff;
  	font-weight: bold;
  	font-size: 35px;
	text-align: center;
  	margin: 20px 100px 100px 220px;
	position: absolute;
	z-index: -2;
}

.call{
	color: #8080ff;
  	font-weight: bold;
  	font-size: 25px;
	text-align: center;
	margin: 90px 80px 100px 220px;
	position: absolute;
	z-index: -2;
}

h5{
	font-weight: bold;
}

a{
	color: white;
}

.paperlist{
	margin-left: 200px; 
	margin-right: 200px;
}

.paperlist2{
	margin-left: 30px; 
	margin-right: 50px;
}

ol.paperinfo{
	margin-left: 0px; 
	margin-right: 220px;	
}


.box{
	width: 900px;
	height: 150px;
    	border: 5px solid gray;
    	padding: 10px;
    	margin: 90px 200px 90px 200px;
}

.box2{
	width: 900px;
	height: 250px;
    	border: 5px solid gray;
    	padding: 10px;
    	margin: 90px 200px 90px 200px;
}

table, th, td {
	width:200px;

   	border: 1px solid black;
	border-collapse: collapse;
	margin-left: 120px;
	margin-right: 220px;
	
	
}

th, td {
    padding: 5px;
    text-align: center;
}

th{
	background-color:#DCDCDC;
}
td{
	background-color:#f2f2f2;
}
/* =============My tabs========================= */


ul.mytabs {
	list-style-type: none;
    	margin: 150px 100px 100px 220px;
    	padding: 0;
    	overflow: hidden;
    	border: 1px solid #ccc;
    	background-color: #DCDCDC;
}

ul.mytabs li {
	float:left;
}


ul.mytabs li a2 {
	display: inline-block;
    	color: black;
    	text-align: center;
    	padding: 14px 16px;
   	text-decoration: none;
    	transition: 0.3s;
    	font-size: 15px;
}


ul.mytabs li a2:hover{background-color: #808080;},
ul.mytabs li a2:focus, .active{background-color: black;}


ul.mytabs a:{
	color: blue;
}

.tabcontent {
    display: none;
    padding: 50px 6px 5px 12px;
    border: 1px solid #ccc;
    border-top: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}


@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


/* ============================================= */

